  .input_control{
    width:360px;
    margin:20px auto;
  }
  input[type="text"],#btn1,#btn2,input[type="password"],input[type="email"]{
    box-sizing: border-box;
    text-align:center;
    font-size:1.4em;
    height:2.7em;
    border-radius:30px;
    border:1px solid black;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    BACKGROUND-COLOR: transparent;
  }
  select{
    box-sizing: border-box;
    text-align:center;
    font-size:1.4em;
    height:2.7em;
    border-radius:30px;
    border:1px solid black;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    BACKGROUND-COLOR: transparent;
  }
  textarea{
    box-sizing: border-box;
    text-align:center;
    font-size:1.7em;
    height:4em;
    border-radius:30px;
    border:1px solid black;
    color:#6a6f77;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    BACKGROUND-COLOR: transparent;
  }
  input[type="date"]{
    box-sizing: border-box;
    text-align:center;
    font-size:2em;
    height:2.7em;
    border-radius:30px;
    border:1px solid black;
    color:#00050c;
    -web-kit-appearance:none;
    -moz-appearance: none;
    display:block;
    outline:0;
    padding:0 1em;
    text-decoration:none;
    width:100%;
    BACKGROUND-COLOR: transparent;
  }
  
  
  /* input[type="submit"],input[type="reset"],input[type="button"]{
    width: 300px;
    height: 40px;
    border-width: 0px; 
    border-radius: 15px; 
    background: #1E90FF;
    cursor: pointer;
    outline: none; 
    font-family: Microsoft YaHei; 
    color: white; 
    font-size: 17px; 
    text-align: center ;
  }
  .login-button:hover {
    background: #5599FF;
  } */

  

  input[type="text"]:focus{
    border:1px solid black;
  }

  input[type="radio"] + label::before {
    content: "\a0"; /*不换行空格*/
    display: inline-block;
    vertical-align: middle;
    font-size: 18px;
    width: 1em;
    height: 1em;
    margin-right: .4em;
    border-radius: 50%;
    border: 1px solid #01cd78;
    text-indent: .15em;
    line-height: 1; 
}
  input[type="radio"]:checked + label::before {
    background-color: #01cd78;
    background-clip: content-box;
    padding: .2em;
}
input[type="checkbox"] + label::after {
  content: "\a0"; /*不换行空格*/
  display: inline-block;
  vertical-align: middle;
  font-size: 18px;
  width: 1em;
  height: 1em;
  margin-right: .4em;
  border-radius: 50%;
  border: 1px solid #000000;
  text-indent: .15em;
  line-height: 1; 
}
input[type="checkbox"]:checked + label::after {
  background-color: #01cd78;
  background-clip: content-box;
  padding: .2em;
}
